@model ZooPlanet.Models.Especies
@{
    Layout = "_Layout";
}

<h1>Eliminar Especies</h1>

<form method="post" asp-area="admin" asp-controller="home" asp-action="Eliminar">
    <label>Nombre:</label>
    <input type="text" readonly="readonly" asp-for="Especie" />
    <label>Clase:</label>
    <input type="text" readonly="readonly" asp-for="IdClaseNavigation.Nombre" />
    <input type="hidden" asp-for="Id" />

    <input type="submit" value="Eliminar"  />
    <a href="~/Administrador">
        <input type="button" value="Cancelar" />
    </a>
</form>


